<script>
    var checkBoxModule = (function() {
        var checkboxNum;

        var checkOne = function(ele) {
            if(ele.is(':checked')){
                checkboxNum++;
                $('#txtnum').val(checkboxNum);
            }else{
                checkboxNum--;
                $('#txtnum').val(checkboxNum);
            }
            if(checkboxNum == getCheckboxSize()) {
                $('.checkboxParent').prop({
                    'checked': true
                });
            } else {
                $('.checkboxParent').prop({
                    'checked': false
                });
            }
        };

        var getCheckboxSize = function() {
            return $(".checkbox").length;
        };

        var checkAll = function(ele) {
            if(ele.is(':checked')) {
                checkboxNum = getCheckboxSize();
                $('#txtnum').val(checkboxNum);
                $('.checkbox').prop({
                    'checked': true
                });
            } else {
                checkboxNum = 0;
                $('#txtnum').val(checkboxNum);
                $('.checkbox').prop({
                    'checked': false
                });
            }
        };

        var op = function() {
            $('.checkbox').click(function(){
                var self = $(this);
                checkOne(self);
            });

            $(".checkboxParent").click(function() {
                checkAll($(this));
            });
        };

        var init = function() {
            checkboxNum = 0;
            op();
        };

        return {
            init: init
        }

    })();

    checkBoxModule.init();
</script>