#macro(breadcrumbs $linkArray $linkNameArray)
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        #foreach($linkName in $linkNameArray)
            #if($linkArray[$foreach.index] == '')
                <li class="active">$linkName</li>
            #else
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="$linkArray[$foreach.index]">$linkName</a>
                </li>
            #end
        #end
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>
#end