#macro(breadcrumbs $linkArray $linkNameArray)
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        #foreach($linkName in $linkNameArray)
            #if($linkArray[$foreach.index] == '')
                <li class="active">$linkName</li>
            #else
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="$linkArray[$foreach.index]">$linkName</a>
                </li>
            #end
        #end
    </ul><!-- /.breadcrumb -->
</div>
#end