<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Tarzan</span>
							 &copy; 2016
						</span>

            &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="https://github.com/beston123/tarzan">
                                <i class="ace-icon fa fa-github-square light-blue bigger-150"></i>
                            </a>
						</span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>

