<!-- basic scripts -->
<!--[if !IE]> -->
<script src="$env/assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="$env/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='$env/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="$env/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="$env/assets/js/excanvas.min.js"></script>
<![endif]-->

<!-- ace scripts -->
<script src="$env/assets/js/ace-elements.min.js"></script>
<script src="$env/assets/js/ace.min.js"></script>
