<!-- 底部显示的消息提示框  -->
<div id="alert-success" class="alert alert-success" style="display:none" >
	<strong>成功：</strong>&nbsp;&nbsp; <label id="successMsg" ></label>
</div>
<div id="alert-danger" class="alert alert-danger" style="display:none" >
	<strong>失败：</strong>&nbsp;&nbsp; <label id="errorMsg" ></label>
</div>
<div id="alert-info" class="alert alert-info" style="display:none" >
    <strong>提示：</strong>&nbsp;&nbsp; <label id="infoMsg" >...</label>
</div>
<div id="alert-alert" class="alert alert-warning" style="display:none" >
    <strong>警告：</strong>&nbsp;&nbsp; <label id="alertMsg" >...</label>
</div>

<script type="text/javascript">
	function showMessage(status, message){
		if(status == 1){
            showSuccess(message);
		}else if(status == -1){
            showError(message);
		}else{
			showInfo(message);
		}
	}

	function showSuccess(message){
		$("#successMsg").empty();
		$("#successMsg").append(message);
		$("#alert-danger").hide();
        $("#alert-info").hide();
        $("#alert-alert").hide();
		$("#alert-success").show();
	}
	
	function showError(message){
		$("#errorMsg").empty();
		$("#errorMsg").append(message);
		$("#alert-success").hide();
        $("#alert-info").hide();
        $("#alert-alert").hide();
        $("#alert-danger").show();
	}


    function showInfo(message){
        $("#infoMsg").empty();
        $("#infoMsg").append(message);
        $("#alert-success").hide();
        $("#alert-danger").hide();
        $("#alert-alert").hide();
        $("#alert-info").show();
    }

    function showAlert(message){
        $("#alertMsg").empty();
        $("#alertMsg").append(message);
        $("#alert-success").hide();
        $("#alert-danger").hide();
        $("#alert-info").hide();
        $("#alert-alert").show();
    }

</script>

<!-- 弹出的消息提示框  -->
<div class="modal fade" id="alertPopUp" tabindex="-1" role="dialog" aria-labelledby="alertTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel panel-info">
            <div class="modal-header  panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alertTitle"></h4>
            </div>
            <div id="alertDiv" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="alertCloseBtn" type="button" class="btn btn-sm btn-default"  data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script >
    function showPopUp(status, message) {
        if(status == 1){
            showSuccessPopUp(message);
        }else if(status == -1){
            showErrorPopUp(message);
        }else{
            showInfoPopUp(message);
        }
    }

    function showAlertPopUp(message){
        setContent('警告', '<span class="glyphicon glyphicon-exclamation-sign" ></span>&nbsp;' + message);
    }

    function showSuccessPopUp(message){
        setContent("成功", '<span class="glyphicon glyphicon-ok-circle" ></span>&nbsp;' + message);
    }

    function showErrorPopUp(message){
        setContent("失败", '<span class="glyphicon glyphicon-remove-circle" ></span>&nbsp;' + message);
    }

    function showInfoPopUp(message){
        setContent("提示", '<span class="glyphicon glyphicon-info-sign" ></span>&nbsp;' + message);
    }

    function setContent(title, content){
        $("#alertPopUp").modal();
        $("#alertTitle").html(title);
        $("#alertDiv").html(content);
    }

</script>

#if($!{errorMsg})
<script>
    showErrorPopUp("$!{errorMsg}");
</script>
#end

<!-- 弹出的确认框  -->
<div class="modal fade" id="confirmPopUp" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirmTitle"></h4>
            </div>
            <div id="confirmDiv" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="confirmCloseBtn" type="button" class="btn btn-sm btn-default"  data-dismiss="modal">取消</button>
                <button id="confirmSubmitBtn"type="button" class="btn btn-sm btn-primary" onclick="confirmSubmit();">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script >
    var submitConfirmFunc;

    var submitConfirmParam;

    function showConfirmPopUp(title, content, submitCallbackFn, param){
        showConfirmPopUp2(title, content, '取消', '确定', submitCallbackFn, param);
    }

    function showConfirmPopUp2(title, content, closeText, submitText, submitCallbackFn, param){
        $("#confirmPopUp").modal();

        $("#confirmTitle").empty();
        $("#confirmTitle").append(title);

        $("#confirmDiv").empty();
        $("#confirmDiv").append(content);

        $("#confirmCloseBtn").empty();
        $("#confirmCloseBtn").append(closeText);

        $("#confirmSubmitBtn").empty();
        $("#confirmSubmitBtn").append(submitText);

        submitConfirmFunc = submitCallbackFn;
        submitConfirmParam = param;
    }

    function confirmSubmit(){
        if(submitConfirmFunc != null){
            $("#confirmPopUp").modal('hide');
            submitConfirmFunc(submitConfirmParam);
        }
    }

</script>