## 一级二级菜单
#set($leftLevel1 = 'server')
#set($leftLevel2 = 1)

## 面包屑
#parse("include/breadcrumbs.vm")
#breadcrumbs(["/server/list",""],["服务端","在线列表"])

## 主面板
<div class="row">
    <div class="col-xs-12">

        <!--h3 class="header smaller lighter blue">jQuery dataTables</h3-->

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            服务端－在线列表
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <span class="lbl">序号</span>
                        </label>
                    </th>
                    <th class="center">IP:端口</th>
                    <th class="center">ServerId</th>
                    <th class="center">权重</th>
                    <th class="center">状态</th>
                    <th class="center">操作</th>
                </tr>
                </thead>

                <tbody>
                #foreach ($!{item} in $!{data})
                    <tr>
                        <td class="center">
                            $foreach.count
                        </td>
                        <td>$!{item.address}</td>
                        <td class="center">$!{item.serverId}</td>
                        <td class="center">$!{item.weight}</td>

                        <td class="center">
                            #if($!{item.enable})
                                <span class="label label-sm label-success">已启用</span>
                            #else
                                <span class="label label-sm label-grey">已禁用</span>
                            #end
                        </td>

                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                            #if($!{item.enable})
                                <a class="red" href="#" title="禁用">
                                    <i class="ace-icon fa fa-remove bigger-130"></i>
                                </a>
                            #else
                                <a class="green" href="#" title="启用">
                                    <i class="ace-icon fa fa-check bigger-130"></i>
                                </a>
                            #end
                            </div>
                        </td>

                    </tr>
                #end

                </tbody>
            </table>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
