## 一级二级菜单
#set($leftLevel1 = 'message')
#set($leftLevel2 = 1)

## 面包屑
#breadcrumbs(["/message",""],["消息","RocketMQ"])

## 主面板
<!--div class="page-header">
    <h1>
        服务端
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">

        <!--h3 class="header smaller lighter blue">jQuery dataTables</h3-->

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            查询
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

#parse("commons/message.vm")

<script>
    
</script>