## 面包屑
#breadcrumbs(["#",""],["首页","欢迎"])

## 一级二级菜单
#set($leftLevel1 = 'server')
#set($leftLevel2 = 1)

## 主面板
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <i class="ace-icon fa fa-check green"></i>

            Welcome to
            <strong class="green">
                TEvent Admin
                <small>(v0.3.0)</small>
            </strong>
        </div>
	</div>

</div>
